body {
  padding: 0;
}

button {
  display: block;
  margin: 3em auto;
  width: 15em;
  
}

#gridContainer {
  /*Define grid block placement.*/
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin: auto;
  
  height: 35em;
  width: 35em;
  border: 1px solid black;
    
}

/* Default grid size only */
.gridBlock {
  margin: -1px;
}
